*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cinzel:wght@500&family=Concert+One&family=Cookie&family=Cormorant+Garamond:ital,wght@1,400;1,500&family=Hubballi&family=Kaushan+Script&family=Luxurious+Script&family=Old+Standard+TT&family=Permanent+Marker&family=Shalimar&family=Smooch+Sans:wght@200&family=Ubuntu+Mono&display=swap');

/* font-family: 'Acme', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Concert One', cursive;
font-family: 'Cookie', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Hubballi', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Luxurious Script', cursive;
font-family: 'Old Standard TT', serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Shalimar', cursive;
font-family: 'Smooch Sans', sans-serif; */
/* font-family: 'Ubuntu Mono', monospace; */
/* #b1d9fc-
#4e8cb8-#25475e-#3f7746-#b5cdd0-#2b526d
 */

                        /* HEADER Y NAVBAR */
.container-navbar{
  height: 15vh;
  width: 100vw;
  background-color: beige;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.menu{
  display:flex;
  height: 100%;
  width: 100%;
  align-items: center;
 
}
.nav{
background-color:#25475e;  
border-bottom:0.1em solid white;
position:fixed;
z-index: 1;

}
.MuiButton{
  font-size: 1em;
  color:green;
}

.OpcionesMenu{
  font-family: 'Concert One', cursive !important;
  
}
.OpcionesMenu:hover{
color:#3f7746;
}
.logo{
  width: 8vw;
  height: 10vh;
}
                     /* LANDING */
.container-landing{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 85vh;
  background-image: url(./img/trip.webp) ;
  background-repeat: no-repeat;
  object-fit: cover;
}

.landing{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-image: url(./img/trip.webp) ; */
 
  width: 100%;
  height: 90%;
 
}
.titulo{
  color:#25475e ;
  white-space: nowrap;
  position: absolute;
  transform:translate(0, -95%);
  font-size: 6rem;
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 0.1em;
  transition: 0.3s;
  text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
    1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
    1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080;
}

.titulo:hover {
  transition: all 0.5s;
  transform: scale(1.1)translate(-5%, -90%);
    text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
    1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
    5px 13px 15px black;
}
.container-titulos{
  height: 70vh;
  margin-top:2em;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.container-titulos h2, .TituloCarrousel{
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
}
.container-carrousel{
  display:flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  margin:2rem;
  width: 95vw;
  height: 70vh;

}
.container-boton{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 20%;

}

.searchpage button{
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius: 1em;
    margin-top:3rem;
    border:0.3em outset gray;
    box-shadow:0 4px 8px 0 #25475e,0 8px 25px orange, 0 8px 25px orange, 0 6px 25px 0 orange;
    background-image: url(./img/gifVijeavion.gif); 
    background-repeat: no-repeat;
    object-fit: cover;
    text-decoration:none;
    font-family: 'Hubballi', cursive;
    height: 10vh;
    width: 6%;
  }

  .botonCall a{
    font-size:1.5em;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
   
   
    
  }
  .botonCall button:hover{
    box-shadow:0 4px 8px 0 #25475e,0 10px 25px #25475e, 0 10px 30px 0 #1b3d20,0 10px 30px 0 #25475e;
    border:0.3em inset gray;
    
  }
  .sc-dnqmqq{
    display:flex;
    justify-content: center;
  }
  .sc-dnqmqq img{
    width: 90%;
    object-fit:cover;
  }


.titulo-carrousel{
  text-align:center;
  color:white;
  font-family:'Cormorant Garamond', serif;
 
}
.nombrePais{
z-index:1;
position:absolute;  
color:black;
font-weight: bold;
font-family: 'Concert One';
}
/* SEARCH */
.container-search{
  height: 80vh;
  width: 100%;
  background-image: url(./img/viajarImagen.jpg);
  opacity:0.5;
  display:flex;
  justify-content: center;
  align-items: center;

}
.searchtitulo{
  color:black;
  font-family: 'Cormorant Garamond', serif;
  background-color: #808080;
  height: 10vh;
  

}
   
                       /* FOOTER */
.container-footer{
  height: 20vh;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  
}
.footer{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  background-color:#25475e ;
  height: 100%;
  width: 100%;
  
}
.error{
  width: 100%;
  height: 80vh;
  background-image: url(./img/catError.gif) ;
  background-repeat: no-repeat;
  background-position: 10%; 
  font-size: 4rem;
  color:white;
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  background-color:#25475e;
}
.footer img{
 width: 40%;
 height: 40%;
}

.footer img:hover{
border:0.1em #3f7746 outset;
border-radius: 3em;
transition: transform 1s;
transform: rotate3d(1, 1, 1, 360deg);
}
 .cards{
 display:flex;
 flex-wrap:wrap;
 flex-grow:1;
 row-gap:5;

} 

/* MEDIA QUERIES --------------------------------------------------------------------------------------*/
@media (min-width:576px){
.titulo{
  font-size:4.2em;
}
.nav{
width: 100%;
}
.landing{
  height: 60vh;
  background-size:cover;
}
.container-titulos h2{
  font-size:1.2em;
  text-align:center;
  padding:auto 0.3em;
}
.botonCall{
    display:flex;
    align-items: center;
    width: 10vw;
    height: 13vh;
    border-radius: 1em;
  }


  .botonCall button{
   font-size: 0.5em;
   width: 20vw;
   color:#3f7746;
   text-shadow: -1px 0 rgb(148, 128, 128), 0 1px #25475e, 1px 0 #25475e, 0 -1px #25475e;
  }

  .sc-gzVnrw{
   align-items:center;
   width: 100%;
  }
}
@media (min-width:768px){
  .container-titulos{
   padding-top:2.5em;
  }
  .botonCall{
    display:flex;
    align-items: center;
    width: 22vw;
    height: 13vh;
    border-radius: 1em;
   
  
  }
  .botonCall button{
   font-size: 0.7em;
   color:black;
   text-shadow: -1px 0 rgb(255, 255, 255), 0 1px #000000, 1px 0 #25475e, 0 -1px #25475e;

  }

}
@media (min-width:992px){
  .container-titulos{
    margin-top:3em;
  }
  .container-boton{
    margin-bottom:3em;
  }
    .botonCall{
    display:flex;
    align-items: center;
    width: 18vw;
    height: 13vh;
    border-radius: 1em;    
  
  }
  .container-carrousel {
    margin:1em;
    height: 60vh;
    display:flex; 
    justify-content: center;
    align-items: center;

  }

  .botonCall button{
   font-size: 1em;
   color:black;
   text-shadow: -1px 0 rgb(255, 255, 255), 0 1px #25475e, 1.5px 0 #25475e, 0 -1.5px #25475e;

  }
  .titulo{
    font-size: 6em;
  }
  .container-titulos h2{
    font-size:2em;
  }
.bghjHX{
  
    height:60vh;

  }
.bghjHX .imgCarrousel{
  height: 25vh;
  object-fit:cover;
}


}